.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupBtn {
    background-color: #DC1B30;
    color: #FBD4D5;
    padding: 13px 15px;
    margin-top: 50px;
    border: none;
    border-radius: 2px;
    font-family: Gotham;
    font-size: 11px;
}