// .card {
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//     transition: 0.3s;
//     width: 40%;
//     background-color: white;
    
//   }
  
//   .card:hover {
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//   }

$card-bg: white;
$card-border-color: #C4B1B1;
$card-border-width: 0.5px;
$card-border-radius: 15px;
$card-spacer-x: 1;

.cardContainer {
  padding: 140px 90px 15px 90px;
}

.card {
  position: absolute;
  // width: 300px;
  // top: 80px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: $card-border-radius;
  padding: 100px 40px;


  // align-items: center;
  // justify-content: center;
  // @include border-radius($card-border-radius);

  // > hr {
  //   margin-right: 0;
  //   margin-left: 0;
  // }

  // > .list-group:first-child {
  //   .list-group-item:first-child {
  //     @include border-top-radius($card-border-radius);
  //   }
  // }

  // > .list-group:last-child {
  //   .list-group-item:last-child {
  //     @include border-bottom-radius($card-border-radius);
  //   }
  // }
}

.card1 {
  top: 160px;
  width: 180px;
  margin-left: 75px;
  z-index: 1;
  
}

.card2 {
  top: 175px;
  width: 210px;
  margin-left: 60px;  
  z-index: 2;
}

.card3 {
  top: 190px;
  width: 240px;
  margin-left: 45px;
  z-index: 3;

}

.card4 {
  top: 205px;
  width: 270px;
  margin-left: 30px;
  z-index: 4;

}

.card5 {
  top: 220px;
  width: 300px;
  margin-left: 15px;
  z-index: 5;

}

.card6 {
  top: 235px;
  width: 330px;
  margin-left: 0px;
  z-index: 6;
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: $card-spacer-x;
}