.msg {
    // font-size: 45px;
    // font-family: Montserrat;
    display: inline;
       
}

.initialMsg {
    color: #4D0A11; 
    // overflow: hidden; /* Ensures the content is not revealed until the animation */
    //     border-right: .15em solid orange; /* The typwriter cursor */
    //     white-space: normal; /* Keeps the content on a single line */
    //    // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    //     letter-spacing: .01em; /* Adjust as needed */
    //     animation: 
    //        typing 3.5s steps(40, end),
    //        blink-caret .75s step-end infinite;
}

.afterMsg {
    color: black;
    // overflow: hidden; /* Ensures the content is not revealed until the animation */
    //     border-right: .15em solid orange; /* The typwriter cursor */
    //     white-space: normal; /* Keeps the content on a single line */
    //    // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    //     letter-spacing: .01em; /* Adjust as needed */
    //     animation: 
    //       typing 7.0s steps(40, end),
    //       blink-caret .75s step-end infinite;
}

.message {
    margin-top: 20px;
    //  padding-right: 400px;
    margin-left: 45px;
    // margin-right: -500px;
    // width: 100px;
  // background-color: red;
    p{
        font-size: 45px;
        font-family: Montserrat;


        //  width: 0%;
        // transition-delay: 3.5s;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid transparent; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0px; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .01em; /* Adjust as needed */
        // width: 0;
        // display: inline;
        // padding-right: -800px;
        // font-size: 45px;
        // font-family: Montserrat;

        // overflow: hidden; /* Ensures the content is not revealed until the animation */
        // border-right: .15em solid orange; /* The typwriter cursor */
        // white-space: nowrap; /* Keeps the content on a single line */
        // margin: 2px auto; /* Gives that scrolling effect as the typing happens */
        // letter-spacing: .01em; /* Adjust as needed */
        // animation: 
        //   typing 3.5s steps(40, end),
        //   blink-caret .75s step-end infinite;
    }

   
}

.heading1 {
        // font-size: 45px;
        // font-family: Montserrat;
        // width: 0;
        // width: 0;
        // // transition-delay: 3.5s;
        // overflow: hidden; /* Ensures the content is not revealed until the animation */
        // border-right: .15em solid orange; /* The typwriter cursor */
        // white-space: nowrap; /* Keeps the content on a single line */
        // margin: 2px auto; /* Gives that scrolling effect as the typing happens */
        // letter-spacing: .01em; /* Adjust as needed */
        animation: 
          typing1 2.5s steps(40, end),
          // blink-caret-transparent 0.75s step-end infinite 1.41s,
          // blink-caret .75s step-end infinite;
          blink-caret .85s step-end 1.58, 
          // visibilityAnimation 0.1s 1;  
}

.heading2 {
        // font-size: 45px;
        // font-family: Montserrat;
        // width: 0;
        // width: 0;
        // // animation-delay: 3.5s;
        // // transition-delay: 3.5s;
        // overflow: hidden; /* Ensures the content is not revealed until the animation */
        // border-right: .15em solid transparent; /* The typwriter cursor */
        // white-space: nowrap; /* Keeps the content on a single line */
        // margin: 2px auto; /* Gives that scrolling effect as the typing happens */
        // letter-spacing: .01em; /* Adjust as needed */
        animation: 
          typing2 2.5s steps(40, end) 1.94s,
          // blink-caret-transparent 0.75s step-end infinite 2s,
          // blink-caret .75s step-end infinite;
          blink-caret .85s step-end 2.499 1.50s, 
          // visibilityAnimation 2.5s 1 ;  
}

.heading3 {
    // font-size: 45px;
    // font-family: Montserrat;
    // width: 0;
    // width: 0;
    // // animation-delay: 7s;
    // // transition-delay: 3.5s;
    // overflow: hidden; /* Ensures the content is not revealed until the animation */
    // border-right: .15em solid orange; /* The typwriter cursor */
    // white-space: nowrap; /* Keeps the content on a single line */
    // margin: 2px auto; /* Gives that scrolling effect as the typing happens */
    // letter-spacing: .01em; /* Adjust as needed */
    animation: 
      typing3 2.5s steps(40, end) 3.9s,
      // blink-caret-transparent 0.75s step-end infinite 2s,
          // blink-caret .75s step-end infinite;
      blink-caret .75s step-end 2.28 3.65s; 
      // blink-caret .75s step-end 5.755 4s;
}

// p::after {
//   width: 100%;
// }

/* The typing effect */
// @keyframes typing {
//     from { width: 0 }
//     to { width: 100% }
//   }
  
  @keyframes typing2 {
    0% { width: 0% }
    100% { width: 100%}

  }

  @keyframes typing1 {
    0% { width: 0% }
    100% { width: 79% }
  }

  @keyframes typing3 {
    0% { width: 0% }
    100% { width: 89% }
  }

  @keyframes visibilityAnimation {
    0% { visibility: hidden; }
    100% { visibility: visible; }
    
  }
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
    // 100% { border-color: transparent;}
  }

@keyframes blink-caret-transparent {
    from, to { border-color: transparent }
     50% { border-color: transparent; }
  }