.app {
    display: flex;
}

.rightBackground {
    background-color: #4F0911;
    flex: 2;
    height: 100vh;
    
}

.leftBackground {
    background-color: white;
    flex: 3;
    height: 100vh;
}


