.container {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -270px;
    display: flex;
    flex-direction: row; 
 //   justify-content: space-between; 
}

// $dimension : 28px;

.socialContainers {
    // border-radius: 50%;
    // height: $dimension;
    // width: $dimension;
    // display: flex;
    // justify-items: center;
    // align-content: center;

    // img {
    //     width: 100%;
        
    // }
    // width: 8%;
    // flex: 1;
    
    img {
        border-radius: 100%; 
        width: 60%;
    }
}

// .whatsappImg {
//     // background-color: #405998;
//     border-radius: 100%;
// }

// .instaImg {
//     // background-color: #405998;
//     border-radius: 100%;
// }

